div.container{
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 20%;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.question{
    font-family: sans-serif;
    font-size: 50px;
}

.option{
    color: aliceblue;
    background-color: blueviolet;
    font-size: 25px;
    width:fit-content;
  

div.option:hover{
    background-color: antiquewhite;
    color: black;
 }
  
    
}